.UserCard {
  width: 305px;
  height: 265px;
  background-color:#282E33;
  position: fixed;
  top: 48px;
  right: 15px;
  border-radius: 12px;
  color: #000;

  .UserCardWrap {
    display: flex;
    flex-direction: column;
    padding: 0 12px 12px;
    position: relative;

    .UserCardButton {
      display: flex;
      justify-content: flex-end;
    }

    .UserCardInfoUser {
      display: flex;
      justify-content: flex-start;
      margin: 0 -12px;
      padding: 24px 12px 8px 14px;

      background-image: linear-gradient(to bottom, #579DFF 0%, #579DFF 100%);
      background-repeat: no-repeat;
      background-size: 100% 82px;
      border-radius: 8px;

      .Logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 88px;
        height: 88px;
        color: #fff;
        border: 1.5px solid #282E33;
        border-radius: 50%;
        background-color: #2121ff;
        font-size: 40px;
        font-weight: 500;
      }

      .InfoUserName {
        display: block;
        margin: 8px 0 0 8px;
        color: #282E33;
        .LastFirstName {
          font-size: 16px;
          font-weight: 500;
          text-overflow: ellipsis;
        }
        .UserName {
          font-size: 12px;
          text-overflow: ellipsis;

        }
      }

    }
  }
}
