
// стили для Loupe
.Loupe{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    left: 8px;
    color: #8c9bab;
    // line-height: 0;
    display: inline-block;
    flex-shrink: 0;
}
.Loupe:focus {
    box-shadow: 0 0 0 2px #85B8FF;
    border-radius: 100%;
    outline: none;
}
// стили для Loupe
