$color: #161a1d;
$color1: #9fadbc;
$color2: #a6c5e229;
$color3: #1d2125;
$color4: #2121ff;
$color5: #454f59;
$color6: #85B8FF;

.Notificate {
  display: block;
  flex-shrink: 0;
  border-style: none;
  line-height: 1;
  border-radius: 50%;
  background-color: $color4;
  position: relative;

  &:hover {
    background-color: $color6;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .NotificateUserName {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: relative;
  }
  .memberAvatar{
    border-radius: 50%;
    height: 32px;
    object-fit: cover;
    width: 32px;
    background-color: #2c5683;
    border: 1px solid #282e33;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: .7;
    }
  }
    
  .memberAvatarSpan{border-radius: 50%;
    border-radius: 50%;
    height: 32px;
    object-fit: fill;
    width: 32px;
    background-color: #2121ff;
    border: 1px solid #282e33;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #d7d7d7;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: .7;
    }
  }
  // }
}

.HeaderUsers {
  width: 28px!important;
  height: 28px!important;
}

.adminLabel{
  // bottom: 0;
  width: 9px;
  height: 9px;
  background-image: url('../../../../public/img/admin_label.png');
  position: absolute;
  z-index: 1;
  // right: -6px;
  top: 15px;
  background-size: 100%;
}
