.buttonStyle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  // font-weight: 400;
  // font-display: swap;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  // justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  white-space: normal;
  // background-color: var(--ds-background-neutral, #091e420f);
  box-shadow: none;
  border: none;
  // color: var(--ds-text, #172b4d);
  font-weight: 500;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

// $color: #579dff;
// $colorhvr: #85b8ff;

// .Btn {
//     background-color: #579dff;
//     border: 0px;
//     border-radius: 5%;
//     height: 32px;
//     width: 77px;
//     margin-top: -46px;
//     margin-left: 600px;
//     display: block;
// }
// .Btn:hover {
//     background-color: $colorhvr;
//     cursor: pointer;
// };

.BtnCreateNewColumn {
  display: flex;
  align-items: center;
  width: 272px;
  height: 44px;

  display: flex;
  cursor: pointer;
  padding: 12px;

  border-radius: 12px;
  background-color: #ffffff3d;

  &:hover {
    background-color: #a6c5e229;
  }
}
.BtnKebabColumnn{
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 0px;
  padding: 8px;
  border-radius: 8px;
  color: #8c9bab;

  &:hover {
    background-color: #a6c5e229;
    color: #9fadbc;
  }

  &:active {
    background-color: #bfdbf847;
    color: #9fadbc;
  }
  
}


.BtnDeleteColumn {
  padding: 8px;
}
.cardWidth{
  width: 100%;
}
.BtnDeleteCard {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 60%;
  transform: translateY(50%);
  &:hover {
    opacity: 100%;
  }
}

.BtnCreateTask {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 200px;
  padding: 6px 12px 6px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: #a6c5e229;
  }
}

.BtnWorkspaceTitleButton {
  padding: 6px 12px;
}

.BtnWorkspaceTitleIconLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 35px;
  font-weight: 700;
  color: #000;
}

.BtnWorkspaceTitleNamePencil {
  margin-left: 4px;
  padding: 4px;

  &:hover {
    background-color: #a6c5e229;
  }
}

.BtnCreateNewDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  & > div:first-child {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
.BtnLogout{
  border: none;
  background-color: transparent;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 6px 12px;
  transition: none;
  border-radius: 0;
  outline: 0;
  background: #00000000;
  box-shadow: none;
  color: #b6c2cf;
  text-align: left;
  text-decoration: none;
  &:hover {
    border: none;
    background-color: transparent;
    box-shadow: none;
    background: #a1bdd914;
    color: #b6c2cf;
    text-decoration: none;
  }
}

.BtnLogin {
  height: 40px !important;
  line-height: 40px !important;
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  background: #0c66e4;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  color: #ffffff !important;
  
  & > div, span {
    -webkit-box-pack: center;
    justify-content: center;
    display: flex !important;
  }
}

.BtnCardNameEdit{
  // display: none;
  position: absolute;
  /* z-index: 10; */
  top: -2px;
  right: -2px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #22272b;

  &:hover{
    background-color: #454f57;

    border: none;
    box-shadow: none;
    color: #b6c2cf;
    text-decoration: none;
  }
}