
.Card{
    background-color: var(--ds-surface-raised, #ffffff);
    border-radius: 8px;
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    color: var(--ds-text, #172b4d);
    cursor: pointer;
    min-height: 36px;
    position: relative;
    scroll-margin: 8px;
    margin: 10px;
}