
.iconWrap{
  width: fit-content;
  height: fit-content;

  &:hover {
    border: none;
    background-color: #a6c5e229;
    box-shadow: none;
    color: #b6c2cf;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
}

.Dragging {
  background: #101204;
  opacity: 0.2;
  border-radius: 12px;
  border: 2px solid rgb(254, 114, 114);
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 430px;
  // max-height: 500px;
}

.Column {
  background: #101204;
  width: 272px;
  height: 430px; //TODO 500px в идеале height: 100%;
  min-height: 100px;
  max-height: 500px; // 500px
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.topWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 0;
}
.ColumnTitleWrap {
  cursor: pointer;
  width: 80%;

  .ColumnTitle {
    padding: 6px 8px 6px 12px;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    .EditeColumnTitle {
      background: #000;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 4px;
      // outline: none;
      &:focus {
        border-color: #fff;
      }
    }
  }
}

.ColumnCardsWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px; // расстояние между карточек
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px;

  .FormCreateCard {
    form {
      width: 100%;
      padding: 0;
      border-radius: 8px;
      textarea {
        border-radius: 8px;
        min-height: 36px;
        max-height: 160px;
        margin: 0;
        padding: 8px 12px;
      }
    }
  }
}

.BtnCreateTaskWrap {
  display: flex;

  padding: 8px 8px 0 8px;
  margin-bottom: 10px;
}

.none {
  display: none;
}



.ColumnCardsWrap::-webkit-scrollbar {
  width: 8px;
}

.ColumnCardsWrap::-webkit-scrollbar-track {
  background-color: #323940;
  border-radius: 8px;
}

.ColumnCardsWrap::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 8px #898e91;
  border-radius: 8px;
}
