// .Column {
//   background-color: #101204;
//   border-radius: 12px;
//   box-shadow: var(
//     --ds-shadow-raised,
//     0px 1px 1px #091e4240,
//     0px 0px 1px #091e424f
//   );
//   color: #9fadbc;
//   display: flex;
//   justify-content: space-between;
//   max-height: 100%;
//   flex-direction: column;
//   flex-grow: 0;
//   flex-shrink: 0;
//   flex-basis: 272px;
//   align-self: start;
//   padding-bottom: 8px;
//   position: relative;
//   scroll-margin: 8px;
//   white-space: normal;
//   width: 272px;
//   box-sizing: border-box;
//   vertical-align: top;
//   font-size: 14px;
// }
// .wrapColumn {
//   padding: 0 6px;
//   align-self: flex-start;
//   flex-shrink: 0;
//   display: block;
//   height: 100%;
//   white-space: nowrap;
// }
// .titleColumn {
//   display: block;
//   font-size: 14px;
//   font-weight: 600;
//   line-height: 20px;
//   margin: 0;
//   padding: 6px 8px 6px 12px;
//   background-color: transparent;
//   overflow: hidden;
//   overflow-wrap: anywhere;
//   white-space: normal;
//   cursor: pointer;
// }
// .tittleCard {
//   color: #b6c2cf;
//   text-decoration: none;
// }

.Dragging {
  background: #101204;
  opacity: 0.2;
  border-radius: 12px;
  border: 2px solid rgb(254, 114, 114);
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 500px;
  min-height: 500px;
}

.Column {
  background: #101204;
  width: 272px;
  height: 500px;
  min-height: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.ColumnTitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 8px 0;

  cursor: grab;

  .ColumnTitle {
    padding: 6px 8px 6px 12px;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    .EditeColumnTitle {
      background: #000;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 4px;
      // outline: none;
      &:focus {
        border-color: #fff;
      }
    }

  }
}

.ColumnCardsWrap{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;  // расстояние между карточек
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px
}

.BtnCreateTaskWrap {
  display: flex;

  padding: 8px 8px 0 8px;
  margin-bottom: 10px;
}


.none {
  display: none;
}
