$background_primary: #1D2125;
$background: #282E33;
$background_hover: #1C2B41;
$text: #B6C2CF;
$button: #9FADBC;
$border: hsla(211, 18%, 68%, 0.16);
$hover_icon: #A6C5E229;
$hover_li: #A1BDD914;
$shadow_1: #39424a;
$shadow_2: #0304045C;
$shadow_3: #03040480;


.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  min-height: 48px;
  max-height: 48px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text;

  background-color: $background_primary;

  border-bottom: 1px solid $border;
}

.Navigation {
  display: flex;
  max-height: 48px;
  padding: 8px;

  border-bottom: 1px solid $border;
  backdrop-filter: blur(6px);

  .ButtonKebabMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    color: $button;
    border-radius: 3px;

    &:hover {
      background-color: $hover_icon;
      transition: all 0.3s ease;
    }
  }

  .LogoWrap {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    border-radius: 3px;
    padding: 0 8px;

    &:hover {
      background-color: $hover_icon;
      transition: all 0.3s ease;
    }

    .Logo {
      width: 75px;
      height: 16px;

      -webkit-touch-callout: none;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Mozila */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */

      .LogoStatic {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.6;
      }

      .LogoAnimation {
        display: none;
        width: 100%;
        height: 100%;
      }

    }
  }

  .CenterMenu {
    display: flex;
    flex-basis: 100%;

    .CenterMenuWrap {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      height: 100%;
      position: relative;


      .DropDownMenu {
        max-width: 573px;
        height: 32px;

        flex-shrink: 0;
        margin: 0 4px;

        display: flex;

        .MenuWorkspace {

          .ButtonIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            line-height: 32px;
            margin-right: 4px;
            padding: 0 10px;
            white-space: nowrap;
            border-radius: 3px;

            position: relative;
            font-style: 14px;
            font-weight: 500;
            line-height: 32px;

            -webkit-touch-callout: none;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Mozila */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */

            &.ButtonIconActive {
              background-color: $background_hover;
            }

            &:hover {
              background-color: $hover_icon;
            }
          }

          .WorkspaceDropDownMenu {
            display: block;
            position: absolute;
            top: 41px;
            right: auto;
            left: 4px;
            bottom: auto;

            width: 280px;
            max-height: 300px;
            border-radius: 8px;
            z-index: 999;
            background-color: $background;
            box-shadow: 0px 0px 0px 1px $shadow_1, 0px 8px 12px $shadow_2, 0px 0px 1px 1px $shadow_3;

            padding: 0 12px;

            -webkit-touch-callout: none;
            -webkit-user-select: none; // Safari
            -moz-user-select: none; // Mozila
            -ms-user-select: none; // IE 10 and IE 11
            user-select: none; // Standard syntax

            overflow-y: auto;  // скрол

            .TitleText {
              font-size: 12px;
              font-weight: 600;
              color: $text;
              margin: 16px 8px 8px 8px;
              line-height: 16px;
            }

            ul {
              margin: 0;

              li {
                border-radius: 8px;

                &:hover {
                  background-color: $hover_li;
                }
              }

            }
          }
        }
      }
    }
  }


}

.Display {
  display: block;
}

.NoneDisplay {
  display: none;
}

.WorkspaceDropDownMenu::-webkit-scrollbar {
  width: 8px;
}
.WorkspaceDropDownMenu::-webkit-scrollbar-track {
  background-color: #323940;
}

.WorkspaceDropDownMenu::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 8px #455159;
  border-radius: 8px;
}
