$background_primary: #1d2125;
$background: #282e33;
$background_hover: #1c2b41;
$text: #b6c2cf;
$button: #9fadbc;
$border: hsla(211, 18%, 68%, 0.16);
$hover_icon: #a6c5e229;
$hover_li: #a1bdd914;
$shadow_1: #39424a;
$shadow_2: #0304045c;
$shadow_3: #03040480;

// Mixins
@mixin flex-jfc-ai-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin no-touch-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none; // Safari
  -moz-user-select: none; // Mozila
  -ms-user-select: none; // IE 10 and IE 11
  user-select: none; // Standard syntax
}

@mixin drop_down_menu {
  display: block;
  position: absolute;
  top: 41px;
  right: auto;
  left: 0;
  bottom: auto;

  width: 280px;
  max-height: 305px;
  border-radius: 8px;
  z-index: 999;
  background-color: $background;
  box-shadow:
    0px 0px 0px 1px $shadow_1,
    0px 8px 12px $shadow_2,
    0px 0px 1px 1px $shadow_3;

  padding: 0 12px;

  overflow-y: auto; // скрол
}

@mixin li-hover {
  li {
    border-radius: 8px;

    &:hover {
      background-color: $hover_li;
    }
  }
}

// Styles
.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  min-height: 48px;
  max-height: 48px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text;

  background-color: $background_primary;

  border-bottom: 1px solid $border;
}

.Navigation {
  display: flex;
  max-height: 48px;
  padding: 8px;

  border-bottom: 1px solid $border;
  backdrop-filter: blur(6px);

  .ButtonKebabMenu {
    @include flex-jfc-ai-center;

    width: 32px;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    color: $button;
    border-radius: 3px;

    position: relative;

    .KebabMenu {
      width: '32px';
    }

    .KebabDropDownMenu {
      @include no-touch-select;
      @include drop_down_menu;
      width: 384px;
      padding: 18px 8px;

      .TitleText {
        font-size: 11px;
        font-weight: 700;
        line-height: 16px;
        padding: 16px 0 4px 8px;
      }
      ul {
        padding: 6px 0;
        margin: 0;

        li {
          padding: 8px;
          border-radius: 8px;

          .KebabMenu_Card {
            display: flex;
            text-decoration: none;
            overflow: hidden;
            border-radius: 8px;
            color: $text;

            .Card_Icon {
              @include flex-jfc-ai-center;

              width: 32px;
              height: 32px;
              border-radius: 8px;
              background-color: #579dff;
              margin-right: 4px;
            }
            .Card_Text {
              font-size: 14px;
              font-weight: 500;
              margin-left: 3px;
            }

            .Card_Text_Serch {
              display: flex;
              flex-direction: column;
              justify-content: center;
              overflow: hidden;

              div:first-child {
                display: flex;
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;
              }

              div:last-child {
                display: flex;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
              }
            }
          }
          &:hover {
            background-color: $hover_li;
          }
        }
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $hover_icon;
      transition: all 0.3s ease;
    }
  }

  .LogoWrap {
    @include flex-jfc-ai-center;

    height: 32px;
    border-radius: 3px;
    padding: 0 8px;

    &:hover {
      background-color: $hover_icon;
      transition: all 0.3s ease;
    }

    .Logo {
      @include no-touch-select;

      width: 75px;
      height: 16px;

      .LogoStatic {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.6;
      }

      .LogoAnimation {
        display: none;
        width: 100%;
        height: 100%;
      }
    }
  }

  .CenterMenu {
    display: flex;
    flex-basis: 100%;

    .CenterMenuWrap {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      height: 100%;
      position: relative;

      .DropDownMenu {
        max-width: 573px;
        height: 32px;

        flex-shrink: 0;
        margin: 0 4px;

        display: flex;

        .MenuWorkspace {
          position: relative;
          margin-right: 4px;

          .WorkspaceDropDownMenu {
            @include no-touch-select;

            display: block;
            position: absolute;
            top: 41px;
            right: auto;
            left: 0;
            bottom: auto;

            width: 280px;
            max-height: 305px;
            border-radius: 8px;
            z-index: 999;
            background-color: $background;
            box-shadow:
              0px 0px 0px 1px $shadow_1,
              0px 8px 12px $shadow_2,
              0px 0px 1px 1px $shadow_3;

            padding: 0 12px;

            overflow-y: auto; // скрол

            .LineSeparator {
              border-top: 1px solid #a6c5e229;
              margin: 12px -12px 0 -12px;
            }

            .TitleText {
              font-size: 12px;
              font-weight: 600;
              color: $text;
              margin: 16px 8px 8px 8px;
              line-height: 16px;
            }

            ul {
              margin: 0;

              li {
                border-radius: 8px;
              }

              li.UseHover:hover {
                background-color: $hover_li;
              }
            }
          }
        }

        .MenuRecent {
          margin-right: 4px;
          position: relative;

          .RecentDropDownMenu {
            @include no-touch-select;
            @include drop_down_menu;

            @include li-hover;
          }
        }

        .MenuFavourites {
          margin-right: 4px;
          position: relative;

          .FavouritesDropDownMenu {
            @include no-touch-select;
            @include drop_down_menu;

            @include li-hover;
          }
        }

        .MenuTemplates {
          margin-right: 4px;
          position: relative;

          .TemplatesDropDownMenu {
            @include no-touch-select;
            @include drop_down_menu;

            padding: 12px;

            .TitleText {
              font-size: 12px;
              font-weight: 500;
              line-height: 16px;
              margin-left: -5px;
            }

            li {
              margin-top: 4px;
              margin-left: -5px;
            }

            @include li-hover;
          }
        }
      }

      .ButtonCreate {
        @include flex-jfc-ai-center;
        @include no-touch-select;
        margin: 0 4px;
        width: 80px;
        height: 32px;
        background-color: #579dff;
        border-radius: 3px;
        color: #1d2125;
        font-size: 14px;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .RightMenu {
    display: flex;
    justify-content: flex-end;

    .blockSearch {
      position: relative;
      max-width: 100%;
      width: 200px;
      margin-right: 4px;
    }
    .blockNotification {
      @include flex-jfc-ai-center;
      width: 32px;
      height: 32px;
    }
  }
}

.Display {
  display: block;
}

.NoneDisplay {
  display: none;
}

.WorkspaceDropDownMenu::-webkit-scrollbar,
.RecentDropDownMenu::-webkit-scrollbar,
.FavouritesDropDownMenu::-webkit-scrollbar {
  width: 8px;
}

.WorkspaceDropDownMenu::-webkit-scrollbar-track,
.RecentDropDownMenu::-webkit-scrollbar-track,
.FavouritesDropDownMenu::-webkit-scrollbar-track {
  background-color: #323940;
  border-radius: 8px;
}

.WorkspaceDropDownMenu::-webkit-scrollbar-thumb,
.RecentDropDownMenu::-webkit-scrollbar-thumb,
.FavouritesDropDownMenu::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 8px #455159;
  border-radius: 8px;
}

.ButtonIcon {
  @include no-touch-select;
  @include flex-jfc-ai-center;

  height: 32px;
  line-height: 32px;
  margin-right: 4px;

  white-space: nowrap;
  border-radius: 3px;

  position: relative;
  font-style: 14px;
  font-weight: 500;
  line-height: 32px;

  &.ButtonIconActive {
    background-color: $background_hover;
  }

  &:hover {
    background-color: $hover_icon;
    cursor: pointer;
  }
}
