.Icons {
  width: 0;
  height: 0;
}

.BtnDropMenuIcon {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  padding-top: 3px;
}

.KebabMenuIcon {
  width: 20px;
  height: 20px;
}

.AtlassianIcon,
.Trello {
  width: 24px;
  height: 24px;
  fill: #fff;
  stroke: #fff;
}

.BtnCardDropdownStar {
  width: 16px;
  height: 16px;
  fill: #a1bdd914;
  stroke: #9fadbc;
  stroke-width: 3;

  &.IconActive {
    fill: #e2b203;
    stroke: #e2b203;
  }

  &:hover {
    fill: #e2b203;
    stroke: #e2b203;
  }
}

.IconCreateNewColumn {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  color: #fff;
}

.IconDeletColumnn {
  width: 20px;
  height: 20px;

  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  stroke: #9fadbc;

  &:hover {
    stroke: #fff;
  }
}

.IconCreateTask {
  width: 16px;
  height: 16px;
  margin-right: 8px;

  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  fill: #9fadbc;
  stroke: #9fadbc;
}

.WorkspaceTitleButtonPeopleIcon {
  width: 16px;
  height: 16px;

  stroke-width: 0.1;
  stroke: #000;
}

.WorkspaceTitleVisibilityStatusIcon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  fill-rule: evenodd;
}

.WorkspaceTitleNamePencilIcon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  fill-rule: evenodd;
  margin-right: 2px;
}

.HelpCreateNewDashboardIcon {
  width: 20px;
  height: 20px;
  padding: 2px;
  fill: #9fadbc;
  stroke: #9fadbc;
  stroke-width: 2;
}
