@mixin flex-jfc-ai-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.ButtonIcon {
  @include flex-jfc-ai-center;

  span {
    text-align: left;
    line-height: 1.5;
  }

  .Icon {
    @include flex-jfc-ai-center;


    &.ArrowDown {
      margin-left: 6px;
      padding-top: 3px;
    }
  }

}
