.ButtonIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    cursor: pointer;
  }

  span {
    cursor: pointer;
    text-align: left;
    line-height: 1.5;
  }

  .Icon {
    display: flex;
    justify-content: center;
    align-items: center;

    &.ArrowDown {
      margin-left: 6px;
      padding-top: 4px;
    }
  }

}
