
.wrap{

    position: relative;
    width: 768px;
    min-height: 200px;
    margin: 0 auto;
    background: transparent;
    // padding: 100px 480px;
    background-color: #323940;
    // background-color: #282e33;
    
    border-radius: 8px;
    // overflow: hidden;
    display: grid;
}
.header {
    min-height: 32px;
    padding: 8px 52px 8px 56px;
    position: relative;
    grid-column: 1 / 5;
    grid-row: 1;
    z-index: 1;
    // background-color: #ab2525;

    .headerIcon{
        left: 16px;
        position: absolute;
        top: 16px;
        color: #9fadbc;
        height: 32px;
        line-height: 32px;
        width: 32px;
        font-size: 24px;

        display: inline-block;
        font-family: trellicons;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        vertical-align: bottom;

        &::before{
            content: "\e912";
        }
    }

    .headerTitle{
        padding: 12px 0 0;
        width: 95%;

        h2{
            margin-right: 4px;
            cursor: pointer;
            font-weight: 600;

        }
        
        textarea{
            resize: vertical;
            width: 100%;

            background: #0000;
            border-radius: 4px;
            box-shadow: none;
            font-size: 20px;
            font-weight: 600;
            height: 32px;
            line-height: 24px;
            margin: -6px -10px;
            min-height: 24px;
            padding: 6px 10px;
            resize: none;

            // -webkit-appearance: none;
            background-color: #22272b;
            border: none;
            border-radius: 3px;
            box-shadow: inset 0 0 0 1px #738496;
            box-sizing: border-box;
            display: block;
            line-height: 20px;
            margin-bottom: 12px;
            outline: none;
            padding: 8px 12px;
            transition-duration: 85ms;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease;
            &:focus {
                background-color: #22272b;
                box-shadow: inset 0 0 0 2px #85b8ff;
            }
        }
    }
    .columnTitle{
        display: flex;
        align-items: center;
        cursor: default;
        width: fit-content;
        margin: 4px 8px 4px 2px;
        color: #9fadbc;
        font-size: 14px;

        .columnTitleName{
            cursor: default;
            margin: 4px 8px 4px 2px;
            color: #9fadbc;
            // margin: 0 0 8px;
        }
    }
}
.mainCol {
    // float: left;
    margin: 0;
    min-height: 24px;
    padding: 0 8px 8px 16px;
    position: relative;
    width: 550px;
    grid-column: 1 / 4;
    grid-row: 2;
    z-index: 1;
    // background-color: #118015;
    .cardDetails{
        margin-top: 8px;
        margin-left: 40px;
        display: flex;
        flex-wrap: wrap;

        .cardDetailItem{
            display: block;
            // float: left;
            margin: 0 8px 8px 0;
            max-width: 100%;
        }

        .cardDetailNotifications{
            height: 64px;
            // display: block;
            // // float: left;
            // margin: 0 8px 8px 0;
            // max-width: 100%;

            .cardDetailsTitle{
                color: #9fadbc;
                display: block;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                line-height: 20px;
                margin: 0 8px 4px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .cardDetailsInfo{
                overflow: hidden;
            }
            .simbolSubscribed{
                display: block;
                background-color: #8c9bab;
                border-radius: 3px;
                // font-size: 12px;
                font-weight: 400;
                width: 24px;
                height: 24px;
                line-height: 20px;
                margin: 0;
                padding: 8px 7px;
                position: absolute;
                right: 4px;
                text-align: center;
                top: 4px;
                color: #1d2125 !important;
                font-size: 16px;
            }
        }
    }
    .cardDescription{
        position: relative;
        margin-bottom: 24px;
        clear: both;
    }
}
.sidebar {
    // float: right;
    padding: 0 16px 8px 8px;
    // width: calc(100% - 550px);
    width: 200px;
    grid-column: 4 / 5;
    grid-row: 2;
    z-index: 1;
    // background-color: #4c1cb4;
    position: relative;


    .addItemsWrap{
        clear: both;
        margin-bottom: 24px;
        // position: relative;

        .cardTitle{
            margin-top: 0;
            color: #9fadbc;
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: -4px;
        }
        .itemsWrap{
            display: flex;
            flex-direction: column;
            color: #b6c2cf;
            // margin-left: 10px;

            .itemMembers,
            .itemLabels,
            .itemDueDate,
            .itemAttachments {
                background-color: #a1bdd914;
                border: none;
                border-radius: 3px;
                box-shadow: none;
                box-sizing: border-box;
                color: #b6c2cf;
                cursor: pointer;
                display: flex;
                align-items: center;
                font-weight: 500;
                height: 32px;
                margin-top: 8px;
                max-width: 300px;
                padding: 6px 12px;
                font-size: 14px;
            
                &:active,
                &:hover {
                    border: none;
                    box-shadow: none;
                    color: #b6c2cf;
                }
                &:hover {
                    background-color: #a6c5e229;
                    text-decoration: none;
                }
                &:active{
                    background-color: #bfdbf847;
                    outline: 0;
                }
                > span{
                    margin-left: 8px;
                }
            
            }
            // .itemMembers{
                // color: rgb(102, 250, 102);
                // color: #b6c2cf;
            // }
            // .itemLabels{
                // color: rgb(102, 250, 102);
            // }
            // .itemDueDate{
            //     color: rgb(102, 250, 102);
            // }
            // .itemAttachments{
                // color: rgb(102, 250, 102);
            // }
            
        }
    }
    
    .actionsWrap{
        clear: both;
        margin-bottom: 24px;

        .actionsTitle{
            margin-top: 0;
            color: #9fadbc;
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: -4px;
        }
        .actionsWrap{
            display: flex;
            flex-direction: column;
            color: #b6c2cf;

            .actionDeleteCard{
                background-color: #a1bdd914;
                border: none;
                border-radius: 3px;
                box-shadow: none;
                box-sizing: border-box;
                color: #b6c2cf;
                cursor: pointer;
                display: flex;
                align-items: center;
                font-weight: 500;
                height: 32px;
                margin-top: 8px;
                max-width: 300px;
                padding: 6px 12px;
                font-size: 14px;
            
                &:active,
                &:hover {
                    border: none;
                    box-shadow: none;
                    color: #b6c2cf;
                }
                &:hover {
                    background-color: #a6c5e229;
                    text-decoration: none;
                }
                &:active{
                    background-color: #bfdbf847;
                    outline: 0;
                }

                .actionDeleteCardText{
                    margin-left: 8px;
                }
            }
        }
    }
}
.cardDescription{
    margin-top: 30px;
}



.smallWindowWrap{
    background-color: #282e32;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px #39424a, 0px 8px 12px #0304045C, 0px 0px 1px 1px #03040480;
    overflow: hidden;
    position: absolute;
    width: 304px;
    min-height: 30px;
    cursor: default;
    right: -7%;
    top: 60px;

    .itemHeader{
        align-items: center;
        display: grid;
        grid-template-columns: 32px 1fr 32px;
        padding: 4px 8px;
        position: relative;
        text-align: center;

        .itemHeaderTitle{
            box-sizing: border-box;
            color: #9fadbc;
            display: block;
            font-size: 14px;
            font-weight: 600;
            grid-column: 1 / span 3;
            grid-row: 1;
            height: 40px;
            letter-spacing: -.003em;
            line-height: 16px;
            line-height: 40px;
            margin: 0;
            overflow: hidden;
            padding: 0 32px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 1;
        }
        .iconWrap{
            border-radius: 8px;
            color: #626f86;
            grid-column: 3;
            grid-row: 1;
            padding: 3px;
            z-index: 2;
        }
    }
    .itemContent{
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 12px 12px;

        input{
            background-color: #22272b;
            border: none;
            border-radius: 3px;
            box-shadow: inset 0 0 0 1px #738496;
            box-sizing: border-box;
            display: block;
            line-height: 20px;
            margin-bottom: 12px;
            outline: none;
            padding: 8px 12px;
        }
        .itemContentInput{
            margin: 4px 0 12px;
            width: 100%;
        }

        .itemContentCardMembers, 
        .itemContentDashboardMembers{
            

            .itemContentCardMembersTitle,
            .itemContentDashboardMembersTitle{
                display: flex;
                align-items: center;

                h4{
                    margin-top: 16px;
                    color: #9fadbc;
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 600;
                }
            }

            .itemContentDashboardMember{
                // display: inline-block;
                // margin-right: 8px;
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li{
                        display: flex;
                        align-items: center;
                        // padding: 4px 8px 4px 4px;
                        height: 40px;
                        width: 100%;
                    }
                }

                .itemContentDashboardMemberInfo{
                    width: 100%;
                    display: flex;
                    align-items: center;

                    .itemContentDashboardMemberName{
                        flex: 1;
                        text-align: start;
                    }
                }

                .itemContentDashboardMemberImg{
                    // display: flex;

                    div{
                    flex: 1;
                    margin-right: 8px;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    }
                    span{
                        display: block;
                        // background-image: url('../../../public/img/photo_templates_1.jpg');
                        background-size: cover;
                        height: 30px;
                        width: 30px;
                        margin-right: 8px;
                        border-radius: 50%;
                        background-color: #0052cc;
                    }
                }
            }
        }

    }
}

.iconWrap{
    width: fit-content;
    height: fit-content;
  
    &:hover {
      border: none;
      background-color: #a6c5e229;
      box-shadow: none;
      color: #b6c2cf;
      text-decoration: none;
      border-radius: 8px;
      display: flex;
      justify-content: center;
    }
  }