$text: #172B4D;
$text_2: #B6C2CF;
$background: #091E420F;
$background_1: #cc4223;
$background_2: #FEA362;
$background_2: #FEA362;



.CardDropdownMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 8px;
  padding: 8px;
  margin: 0 0 4px;
  color: $text_2;
  cursor: pointer;

  &:hover {
    background-color: var(--ds-background-neutral-subtle-hovered, #091e420f);
    color: currentColor;
    text-decoration: none;
  }

  .Icon {
    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: $background;
    overflow: hidden;

    .IconLetter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 20px;
      color: #ffffff;
      font-weight: bold;
      background: linear-gradient($background_1, $background_2);

    }
  }

  .Text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    margin: 0 0 0 12px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
